.flex {
	display: flex;
}
.flex-1 {
	flex: 1;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-h {
	display: flex;
	flex-direction: row;
}
.flex-v {
	display: flex;
	flex-direction: column;
}
.flex-hc {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.flex-h-vc {
	display: flex;
	align-items: center;
}
.flex-vc {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.flex-v-hc {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flex-hcc {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flex-vcc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-bc {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.flex-ac {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.flex-h-end {
	display: flex;
	justify-content: flex-end;
}
.flex-v-end {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
