// 超长文字隐藏
.longText {
    .cell {
        overflow: hidden !important; //超出的文本隐藏
        text-overflow: ellipsis !important; //溢出用省略号显示
        white-space: nowrap !important; //溢出不换行

        &:hover {
            overflow: auto !important; //超出的文本隐藏
            text-overflow: auto !important; //溢出用省略号显示
            white-space: normal !important; //溢出不换行
        }
    }
}

// 不可用但不影响点击
.dis {
    background-color: #a0cfff;
    border-color: #a0cfff;
}

// 状态样式
.disableRgba {
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #f56c6c;
    display: inline-block;
    height: 18px;
    padding: 0 6px;
    line-height: 18px;
    font-size: 12px;
    border: 1px solid #fde2e2;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
}

// 成功失败
.danger {
    color: #f56c6c;
}

.success {
    color: #67c23a;
}

.text-link {
    color: #409eff;
    cursor: pointer;
    text-decoration: underline;
}

.enableColor {
    color: #13ce66;
}

.disableColor {
    color: #fb6260;
}

.viewer-play,
.view-large {
    display: none;
}

.blueColor {
    color: #58a3f7;
}

.blueBackground {
    background: #58a3f7;
}

.yellowColor {
    color: #fec03d;
}

.yellowBackground {
    background: #fec03d;
}

.lightBlueColor {
    color: #52c1f5;
}

.lightBlueBackground {
    background: #52c1f5;
}

.lightGreenColor {
    color: #4bced0;
}

.lightGreenBackground {
    background: #4bced0;
}

.redColor {
    color: #fb6260;
}

.redBackground {
    background: #fb6260;
}

.orangeColor {
    color: #ffa94c;
}

.orangeBackground {
    background: #ffa94c;
}

.purpleColor {
    color: #8167f5;
}

.purpleBackground {
    background: #8167f5;
}

.blackColor {
    color: #8167f5;
}

.blackBackground {
    background: #8167f5;
}

.pageValue {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    margin-left: -200px;
    height: 40px;
    z-index: 999;
    right: 0;
}

.normalRgba {
    min-width: 60px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    display: inline-block;
    border-radius: 5px;
    color: #67c23a;
    text-align: center;
    font-size: 14px;
    background: rgba(0, 160, 0, 0.2);
}

.disableRgba {
    min-width: 60px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    display: inline-block;
    border-radius: 5px;
    color: #fb6260;
    font-size: 14px;
    text-align: center;
    background: rgba(250, 89, 89, 0.3);
}

.deleteRgba {
    min-width: 60px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    display: inline-block;
    border-radius: 5px;
    color: #fec03d;
    text-align: center;
    font-size: 14px;
    background: rgba(253, 168, 77, 0.3);
}

.lockingRgba {
    min-width: 60px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    display: inline-block;
    border-radius: 5px;
    font-size: 14px;
    color: #58a3f7;
    text-align: center;
    background: rgba(88, 163, 247, 0.3);
}
